<h1><%=h @post.title %></h1>
<p><%=h @post.body %></p>
<br>
<a href="/posts/<%=h @post.id %>/edit"><button type="button" class="btn btn-default btn-xs">Edit Post</button></a>
<a href="/posts/<%=h @post.id %>/delete"><button type="button" class="btn btn-default btn-xs">Delete Post</button></a>
